*.ipynb linguist-vendored=false
*.ipynb linguist-detectable=false

/jupyter_notebooks linguist-vendored=false

jupyter_notebooks/** linguist-vendored

jupyter_notebooks/** linguist-vendored=false


jupyter_notebooks/* linguist-vendored
jupyter_notebooks/* linguist-vendored=false